# ── Variables pour docker-compose.yml ─────────────────────────────────────────
# Copier ce fichier en .env et remplir les valeurs avant de lancer docker-compose

# Clé Laravel (générer avec : php artisan key:generate)
APP_KEY=base64:EpDeK7uNf95NlGLQGG2KtqcuLN7slTZOKBNQaaMlINk=


# Mot de passe root MySQL
DB_PASSWORD=root
